{
  "extends": ["standard", "prettier"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "semi": [2, "always"],
    "key-spacing": [
      "error",
      {
        "mode": "minimum"
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": true
      }
    ]
  }
}
